* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    transition: transform 0.3s ease; 
    text-align: center;
}

#loginForm:hover {
    transform: translateY(-10px);
}

.input-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0072ff;
}

#email,
#password {
    width: 100%;
    padding: 12px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

#email:focus,
#password:focus {
    border-color: #0072ff;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005bb5;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    text-decoration: none;
    color: #0072ff;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #005bb5;
}

@media (max-width: 525px) {
    #loginForm {
        width: 90%;
        padding: 20px;
    }
}
@media (max-width: 330px) {
    #email,
    #password {
        width: 100%;
    }
}
